# GZIP Apache 2.0
# BEGIN GZIP
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript

<ifModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</ifModule>

# END GZIP

Options +FollowSymLinks

RewriteEngine on
RewriteCond %{HTTP_HOST} ^https://williamhod.github.io/-HodicqWilliam_4_04022021/[nc]
RewriteRule ^(.*)$ http://www.https://williamhod.github.io/-HodicqWilliam_4_04022021//$1 [r=301,nc]

DirectoryIndex https://williamhod.github.io/-HodicqWilliam_4_04022021/

# CACHE NAVIGATEUR
# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
 <FilesMatch "\.(ico|jpe?g|png|gif|swf|css|gz|js|jpg)$">
 Header set Cache-Control " min-age=2591999 max-age=2592000, public"
 </FilesMatch>
 <FilesMatch "\.(ico|jpe?g|png|gif|swf|css|gz|js|jpg)$">
 Header set Cache-Control "min-age=2591999 max-age=2592000, private"
 </FilesMatch>
<filesMatch "\.(html|htm)$">
Header set Cache-Control "min-age=7199 max-age=7200 public"
</filesMatch>
# Enleve le cache pour les ressources dynamiques
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
Header unset Cache-Control
</FilesMatch>
</IfModule>
# END Cache-Control Headers

# BEGIN Expires Headers

<IfModule mod_expires.c>
  ExpiresActive On

 # Images
  ExpiresByType image/jpeg "access plus 2592000 seconds"
  ExpiresByType image/jpg  "access plus 2592000 seconds"
  ExpiresByType image/gif "access plus 2592000 seconds"
  ExpiresByType image/png "access plus 2592000 seconds"
  ExpiresByType image/webp "access plus 2592000 seconds"
  ExpiresByType image/svg+xml "access plus 2592000 seconds"
  ExpiresByType image/x-icon "access plus 2592000 seconds"

  # Video
  ExpiresByType video/webm "access plus 2592000 seconds"
  ExpiresByType video/mp4 "access plus 2592000 seconds"
  ExpiresByType video/mpeg "access plus 2592000 seconds"

  # Fonts
  ExpiresByType font/ttf "access plus 2592000 seconds"
  ExpiresByType font/svg "access plus 2592000 seconds"
  ExpiresByType font/eot "access plus 2592000 seconds"
  ExpiresByType font/otf "access plus 2592000 seconds"
  ExpiresByType font/woff "access plus 2592000 seconds"
  ExpiresByType font/woff2 "access plus 2592000 seconds"
  ExpiresByType application/font-woff "access plus 2592000 seconds"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 2592000 seconds"
  ExpiresByType text/javascript "access plus 2592000 seconds"
  ExpiresByType text/x-javascript "access plus 2592000 seconds"
  ExpiresByType application/javascript "access plus 2592000 seconds"

  # Others
  ExpiresByType application/pdf "access plus 2592000 seconds"
  ExpiresByType image/vnd.microsoft.icon "access plus 2592000 seconds"

</IfModule>